.home {
  text-align: center;
  margin-top: 100px;
}

.home span {
  display: none;
}

.home button {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 1.5;
}
