.App {
  text-align: center;
  margin-top: 100px;
}

#download,
#result {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  line-height: 1.5;
  visibility: hidden;
}

#result {
  word-wrap: break-word;
}
